.ipynb_checkpoints/
TP1_FashionMNIST/
TP1_FashionMNIST11/
TP1_FashionMNIST1/
TP1_FashionMNIST_v1/

tp11/
rapport/.ipynb_checkpoints/
Untitled.ipynb
TP1_FashionMNIST.ipynb


tp1/.vscode/
tp1/.ipynb_checkpoints/


TP2_LSTM/.ipynb_checkpoints/
TP2_LSTM/Untitled.ipynb
TP2_LSTM/*.h5
TP2_LSTM/household_power_consumption.txt
TP2_LSTM/.vscode/

TP3_Vehicle/.vscode/
TP3_Vehicle/.ipynb_checkpoints/
TP3_Vehicle/__pycache__/
TP3_Vehicle/x
TP3_Vehicle/models*.h5
TP3_Vehicle/data/FuelConsumption.csv
TP3_Vehicle/__init__.py
TP3_Vehicle/figures/*.png

TP4_Transformers/images/**/*.png
TP4_Transformers/environment.yml
TP4_Transformers/__pycache__/
TP4_Transformers/*.pyc
TP4_Transformers/*.pyo
TP4_Transformers/*.pyd
TP4_Transformers/.vscode/


